.top-section-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.left-container {
    flex: 1;
    padding: 10px 20px;
    border-radius: 4px;
    background: linear-gradient(90deg, #DDD6F3 0%, #FAACA8 100%);
}

.right-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.white-box {
    padding: 10px 20px;
    text-align: left;
}

h2, p {
    display: flex;
    justify-content: center;
    margin: 0;
}

.black-box {
    text-align: center;
    background-color: #5aac44;
    border-radius: 5px;
    width: 200px;
    max-width: 300px;
    margin-top: 10px;
    margin-left: 180px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.responsive-image {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .top-section-container {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .left-container, .right-container {
      flex: none;
    }
    
    .black-box {
      margin-left: 0;
    }
}

.mid-section {
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 200px;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
}

.card img {
    width: 150px;
    height: 150px;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.card-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.card-title {
    margin-top: 10px;
}

@media (min-width: 768px) {
    .card {
      width: 250px;
    }
  }
  
  @media (min-width: 1024px) {
    .card {
      width: 300px;
    }
}